.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
}

.profile-pic {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 20px;
}

.name {
  font-weight: bold;
  margin-left: 10px;
}

.add {
background-color: rgb(0, 140, 255);
border: solid;
border-width: 1px;
padding: 10px;
border-radius: 5px;
font-weight: bold;
color: white;
}

.msg {
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  border: solid;
  border-width: 1px;
  margin-left: 8px;
}

body {
  height: 3000px;
}